body, .container-quiz, .container-fluid {
	background-color: #E3E2DF;
}

.jumbotron {
	background-color: #1C3334;
	color: #C5C6C7;
}

.lead, .display-4 {
	color: #E3E2DF;
}

.card, .list-group-item {
	color: #1C3334;
}

.card {
	background-color: #E3E2DF;
	border: none;
}

th, td {
	color: #1C3334;
}

th {
	font-size: 2rem;
}

a:hover {
	color: #44bec2;
}

/* https://github.com/jamesqquick/Build-A-Quiz-App-With-HTML-CSS-and-JavaScript */
.btn {
	font-size: 1.8rem;
	padding: 1rem 0;
	width: 20rem;
	text-align: center;
  	border: 0.1rem solid #2F4454;
  	margin-bottom: 1rem;
  	text-decoration: none;
  	color: #2F4454;
  	background-color: #C5C6C7;
}

.btn:hover {
  	cursor: pointer;
  	box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  	transform: translateY(-0.1rem);
  	transition: transform 150ms;
}